<h3 id="feed">
    <span>title: <%= title %></span> <span id=<%= id %>>url: <%= url %></span>
    <button id=<%= id %> class="unsubscribe"> unsubscribe</button>
    <button id=<%= id %> class="get_articles"> see articles</button>
    <button id=<%= id %> class="refresh_articles"> refresh articles</button>
</h3>