<li class="collection-item" id="feed">
    <a id=<%=id%> href="<%=url%>"><%=title%></a>
    <button id="unsubscribe_<%= id %>" class="unsubscribe" data-id="<%= id %>" > unsubscribe</button>
    <button id=<%= id %> class="get_articles"> see articles</button>
</li>