<li class="collection-item" id="feed">
    <a id=<%=id%> href="<%=url%>"><%=title%></a>
    <button class="waves-effect waves-light btn" id="unsubscribe" data-id="<%= id %>" > unsubscribe</button>
    <button class="waves-effect waves-light btn" id="get_articles" data-id="<%= id %>"> see articles</button>
    <span class=nobr id="refresh_articles_button" data-id="<%= id %>"> </span>
</li>